@keyframes activateVariant {
  0% {
    left: -50%;
  }
  50% {
    left: 50%;
  }
  60% {
    left: 60%;
  }
  80% {
    left: 40%;
  }
  100% {
    left: 50%;
  }
}
@keyframes unActivateVariant {
  0% {
    left: 50%;
  }
  50% {
    left: 30%;
  }
  100% {
    left: 150%;
  }
}
/* About Page */
.about-page {
  background-image: url("../img/about.jpg");
}

/* About */
.about {
  padding: 70px 0;
}
.about .title {
  max-width: 680px;
}
.about .title__title span {
  display: block;
  max-width: 650px;
}
.about .title__title h4 {
  top: unset;
  bottom: 0;
  transform: none;
  font-size: 29px;
  opacity: 0;
  visibility: hidden;
  transform: translate(-100%, 0);
  transition: 0.8s;
}
.about .title__title h4.active {
  opacity: 1;
  visibility: visible;
  transform: translate(0%, 0%);
}
.about .title h3 {
  font-size: 24px;
  margin-top: 35px;
}
.about__body {
  display: flex;
  align-items: center;
}
.about__body-image {
  margin-top: -100px;
  max-width: 500px;
}
.about__body-image img {
  max-width: 100%;
}
.about__content {
  margin-right: 70px;
}
.about__text {
  margin-top: 40px;
  line-height: 1.8;
  color: #000;
}
.about__lists {
  margin-top: 60px;
  display: flex;
  align-items: flex-start;
}
.about__list {
  margin-right: 50px;
}
.about__list:last-child {
  margin-right: 0;
}
.about__list li {
  line-height: 1.8;
  color: #000;
  display: flex;
  align-items: center;
}
.about__list li i {
  color: #3F01D1;
  font-size: 14px;
  margin-right: 8px;
}
.about__btns {
  display: flex;
  align-items: center;
  margin-top: 40px;
}
.about__btns-btn {
  margin-right: 20px;
}
.about__btns-btn:last-child {
  margin-right: 0;
}
.about__advice {
  position: relative;
  margin-top: 30px;
  padding-top: 50px;
  display: flex;
  align-items: center;
}
.about__advice::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 1px;
  width: 100%;
  background: #dedede;
}
.about__advice i {
  font-size: 15px;
  color: #3F01D1;
}
.about__advice-text {
  line-height: 1.8;
  color: #666;
  font-size: 14px;
  margin-left: 11px;
}
.about__image {
  margin-bottom: 50px;
  display: none;
  justify-content: center;
}
.about__image img {
  max-width: 100%;
}

/* Care */
.care {
  padding: 70px 0;
  overflow: hidden;
}
.care__title {
  text-align: center;
  margin: 0 auto;
}
.care__title span {
  text-transform: uppercase;
}
.care__title h4 {
  font-size: 46px;
  left: 50%;
  opacity: 0;
  visibility: hidden;
  transform: translate(-50%, -100%);
  transition: 0.8s;
}
.care__title h4.active {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%);
}
.care__title h3 {
  font-size: 23px;
}
.care__carts {
  display: flex;
  flex-wrap: wrap;
  margin-right: -60px;
}
.care__cart {
  flex: 0 1 25%;
}
.care__cart-wrap {
  padding: 50px 20px;
  height: 100%;
  transition: 0.2s;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-right: 60px;
  margin-top: 30px;
}
.care__cart-icon {
  display: flex;
  transition: 0.4s;
}
.care__cart-icon img {
  width: 70px;
  height: 70px;
  flex: 0 0 70px;
}
.care__cart-icon:hover {
  transform: translate(0, -7px);
}
.care__cart-number {
  position: absolute;
  top: 60px;
  right: 15px;
  border: 1px solid #383838;
  padding: 10px;
  border-radius: 50%;
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.care__cart-number::after {
  content: "";
  display: block;
  position: absolute;
  top: 16px;
  left: 13px;
  width: 173px;
  height: 7px;
  background: url("../img/line.png") no-repeat center center/contain;
}
.care__cart:last-child .care__cart-number::after {
  display: none;
}
.care__cart-text {
  line-height: 1.8;
  color: #000;
  margin-top: 25px;
}

/* Why */
.why {
  padding: 70px 0 140px;
  overflow: hidden;
}
.why__body {
  display: flex;
}
.why__description {
  margin-top: -60px;
  padding-right: 60px;
  display: flex;
  align-items: center;
  flex: 0 1 77%;
}
.why__description-left {
  margin-right: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.why__description-left img {
  max-width: 350px;
  max-height: 450px;
}
.why__description-right > span {
  position: relative;
  display: block;
}
.why__description-right > span span {
  color: #dadada;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: -5px;
  line-height: 100px;
  max-width: 380px;
  display: block;
}
.why__description-right > span h3 {
  position: absolute;
  top: 40px;
  left: 0;
  color: #3F01D1;
  font-size: 21px;
  font-weight: 400;
}
.why__description-right p {
  position: relative;
  z-index: 1;
  color: #54595F;
  line-height: 28px;
  margin-top: -60px;
  transition: 0.8s;
  opacity: 0;
  visibility: hidden;
  transform: translate(0, -100%);
}
.why__description-right p:last-child {
  margin-top: 30px;
}
.why__description-right p.active {
  transform: translate(0, 0);
  opacity: 1;
  visibility: visible;
}
.why__schedule {
  flex: 0 1 23%;
}
.why__schedule h3 {
  color: #3F01D1;
  font-size: 21px;
  font-weight: 700;
}
.why__schedule table {
  margin-top: 40px;
  border-collapse: collapse;
}
.why__schedule table tr td {
  white-space: nowrap;
  color: #54595f;
  border-bottom: 1px solid #54595f;
  padding: 40px 0 16px;
}
.why__schedule table tr td:first-child {
  font-size: 14px;
  padding-right: 40px;
}
.why__schedule table tr td:last-child {
  text-align: right;
  color: #3F01D1;
  font-weight: 700;
  padding-right: 10px;
}
.why__schedule table tr:first-child td {
  padding-top: 0;
}

/* Interested */
.interested {
  background-image: url("../img/interested_2.jpg");
}
.interested__body {
  padding: 160px 0;
}

/* Media */
@media (max-width: 1100px) {
  /* Why */
  .why__body {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .why__description {
    margin-left: -30px;
    flex-basis: 100%;
    margin-right: 0;
    padding-right: 0;
  }

  .why__schedule {
    margin-top: 60px;
    flex-basis: 100%;
  }
  .why__schedule table {
    width: 100%;
  }
}
@media (max-width: 991px) {
  /* About */
  .about__content {
    margin-right: 0;
  }

  .about .title__title span {
    max-width: 100%;
  }

  .about__body-image {
    display: none;
  }

  .about__image {
    display: flex;
  }

  /* Care */
  .care__cart {
    flex-basis: 50%;
  }
  .care__cart:nth-child(2n) .care__cart-number::after {
    display: none;
  }
}
@media (max-width: 767px) {
  /* About */
  .about .title__title span {
    font-size: 46px;
  }
  .about .title__title h4 {
    bottom: -23px;
  }
  .about__text {
    font-size: 14px;
  }
  .about__lists {
    flex-direction: column;
  }
  .about__btns {
    justify-content: center;
    flex-direction: column;
  }
  .about__btns-btn {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .about__btns-btn:last-child {
    margin-bottom: 0;
  }
  .about__advice {
    margin-top: 40px;
  }

  /* Care */
  .care__cart {
    flex-basis: 100%;
  }
  .care__cart-number::after {
    display: none;
  }

  .care__cart-number {
    right: 160px;
  }

  .care__title span {
    font-size: 60px;
    line-height: 55px;
  }
  .care__title h3 {
    margin-top: 75px;
  }
  .care__title h4 {
    top: 50px;
  }

  /* Why */
  .why__description {
    margin-left: 0;
    flex-direction: column;
  }
  .why__description-left {
    margin: 0 -30px;
  }
  .why__description-right {
    margin-top: 30px;
  }
  .why__description-right > span span {
    line-height: 60px;
    font-size: 60px;
    max-width: 100%;
  }
  .why__description-right > span h3 {
    top: 20px;
  }
  .why__description-right p {
    margin-top: 0;
  }

  .why {
    padding-bottom: 60px;
  }

  .why__schedule h3 {
    text-align: center;
  }
}
@media (max-width: 575px) {
  /* Why */
  .why__description-left img {
    max-width: 100%;
  }

  /* Care */
  .care__cart-number {
    right: 100px;
  }
}
@media (max-width: 450px) {
  /* Care */
  .care__cart-number {
    right: 15px;
  }
}

/*# sourceMappingURL=about.css.map */
