/* Header */
.header {
  overflow: hidden;
  position: relative;
}
.header__images {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.header__images-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  transition: 5s transform linear;
  animation: changeHeaderSlide 5s linear infinite;
}
.header__images-image.active {
  opacity: 1;
  visibility: visible;
  transform: scale(1.1);
}
.header__body {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  min-height: 106vh;
  background: rgba(0, 0, 0, 0.3);
}
.header__offer {
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}
.header__offer-body {
  margin: 170px 0 50px;
}
.header__title {
  font-weight: 700;
  font-size: 57px;
  color: #fff;
  line-height: 60px;
  margin-bottom: 40px;
}
.header__title-titles {
  display: none;
}
.header__title-variant {
  overflow: hidden;
  transition: 0.3s;
  display: inline-block;
  border-right: 2px solid #000;
}
.header__title-variant span {
  color: #3F01D1;
  text-decoration: underline;
}
.header__carts-body {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
}
.header__cart {
  cursor: pointer;
  flex: 0 1 33.333%;
  overflow: hidden;
  height: 280px;
  max-height: 280px;
}
.header__cart-front {
  text-align: center;
  padding: 45px;
  transition: 0.5s;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header__cart-front img {
  width: 50px;
  height: 50px;
}
.header__cart-front h3 {
  margin-top: 30px;
  font-size: 21px;
  font-weight: 700;
}
.header__cart-back {
  overflow: auto;
  background: #3F01D1;
  padding: 20px 50px;
  transition: 0.5s;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 700;
}
.header__cart-back a {
  margin-bottom: 20px;
  color: #fff;
  font-size: 21px;
  text-decoration: underline;
}
.header__cart-back ul {
  padding-left: 10px;
}
.header__cart-back ul li {
  list-style: disc;
  font-size: 14px;
  margin-bottom: 8px;
}
.header__cart-back ul li:last-child {
  margin-bottom: 0;
}
.header__cart:hover .header__cart-front, .header__cart.active .header__cart-front {
  transform: translate(0, -100%);
}
.header__cart:hover .header__cart-back, .header__cart.active .header__cart-back {
  transform: translate(0, -100%);
}

@keyframes headerResize {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes changeHeaderSlide {
  0% {
    opacity: 0.6;
  }
  20% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}
@keyframes variantResize {
  0% {
    width: 0;
    padding-right: 0;
  }
  50% {
    width: 100%;
    padding-right: 9px;
  }
  100% {
    width: 0;
    padding-right: 0;
  }
}
/* Services */
.services {
  overflow: hidden;
  padding-top: 65px;
  padding-bottom: 70px;
}
.services__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.services__title .title {
  margin-right: 30px;
}
.services__title .title__title h4 {
  transform: translate(-100%, 0);
  opacity: 0;
  transition: 0.8s;
}
.services__title .title__title h4.active {
  transform: translate(0, 0);
  opacity: 1;
}
.services__title-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services__title-btns .btn {
  margin-bottom: 25px;
}
.services__title-btns .btn:last-child {
  margin-bottom: 0;
}
.services__carts {
  margin-right: -30px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 120px;
}
.services__cart {
  position: relative;
  z-index: 1;
  flex: 0 1 33.333%;
  color: #fff;
}
.services__cart-wrap {
  margin-top: 30px;
  margin-right: 30px;
  overflow: hidden;
  height: 440px;
}
.services__cart-front {
  transition: 0.5s;
  height: 100%;
  position: relative;
}
.services__cart-front::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.services__cart-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
  z-index: 2;
  padding: 40px 50px 40px 40px;
}
.services__cart-back {
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  position: relative;
  z-index: 2;
  padding: 40px 50px 40px 40px;
  background: #2c2c2c;
  transition: 0.5s;
}
.services__cart-back p {
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 1.7em;
}
.services__cart-icon {
  width: 50px;
  height: 50px;
}
.services__cart h3 {
  margin-top: auto;
  font-size: 28px;
  text-transform: uppercase;
}
.services__cart:hover .services__cart-back, .services__cart.active .services__cart-back {
  transform: translate(0, -100%);
}
.services__btn {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

/* Features */
.features {
  padding: 0 0 40px;
  background: #E7E7E7;
  overflow: hidden;
}
.features__carts {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
}
.features__cart {
  flex: 0 1 25%;
}
.features__cart-wrap {
  text-align: center;
  margin-right: 30px;
  margin-top: 30px;
  color: #3F01D1;
}
.features__cart-wrap h2 {
  font-weight: 700;
  font-size: 60px;
}
.features__cart-wrap p {
  font-weight: 700;
}

/* Mission */
.mission {
  padding: 100px 0 140px;
  overflow: hidden;
}
.mission__body {
  display: flex;
  flex-wrap: wrap;
}
.mission__description {
  margin-top: -60px;
  padding-right: 60px;
  display: flex;
  align-items: center;
  flex: 0 1 77%;
}
.mission__description-left {
  margin-right: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mission__description-left h2 {
  margin-bottom: 35px;
  white-space: nowrap;
  color: #e0e0e0;
  font-size: 71px;
  font-weight: 700;
  letter-spacing: -5px;
}
.mission__description-left img {
  max-width: 100%;
  max-height: 450px;
}
.mission__description-right {
  padding-top: 60px;
}
.mission__description-right h3 {
  color: #3F01D1;
  font-size: 21px;
  font-weight: 700;
}
.mission__description-right p {
  color: #54595F;
  line-height: 28px;
  margin-top: 35px;
}
.mission__description-right p:last-child {
  margin-top: 30px;
}
.mission__schedule {
  flex: 0 1 23%;
}
.mission__schedule h3 {
  color: #3F01D1;
  font-size: 21px;
  font-weight: 700;
}
.mission__schedule table {
  margin-top: 40px;
  border-collapse: collapse;
}
.mission__schedule table tr td {
  white-space: nowrap;
  color: #54595f;
  border-bottom: 1px solid #54595f;
  padding: 40px 0 16px;
}
.mission__schedule table tr td:first-child {
  font-size: 14px;
  padding-right: 40px;
}
.mission__schedule table tr td:last-child {
  text-align: right;
  color: #3F01D1;
  font-weight: 700;
  padding-right: 10px;
}
.mission__schedule table tr:first-child td {
  padding-top: 0;
}
.mission__customers {
  width: 100%;
  margin-top: 40px;
  flex: 0 1 100%;
  display: flex;
  flex-wrap: wrap;
}
.mission__customers-statistics {
  width: 35%;
  flex: 0 1 35%;
  width: 100%;
  padding-left: 50px;
}
.mission__customers-statistic {
  margin-bottom: 50px;
  background: #eee;
  width: 100%;
  font-size: 14px;
  color: #fff;
}
.mission__customers-statistic span:first-child {
  margin-right: 30px;
}
.mission__customers-statistic:last-child {
  margin-bottom: 0;
}
.mission__customers-linewrap {
  overflow: hidden;
  width: 0;
  transition: 0.8s;
}
.mission__customers-linewrap.active {
  width: 100%;
}
.mission__customers-line {
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  padding: 7px 15px;
  background: #3F01D1;
}
.mission__customers-line span:first-child {
  margin-right: 20px;
}
.mission__customers-reviews {
  width: 65%;
  flex: 0 1 65%;
  padding: 0 90px;
}
.mission__customers-reviews .swiper {
  padding: 40px 0;
  height: 100%;
}
.mission__customers-reviews .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mission__customers-reviews .swiper-slide p {
  text-align: center;
  color: #7a7a7a;
  line-height: 1.4em;
}
.mission__customers-reviews .swiper-slide .mission__customers-author {
  margin-top: 25px;
  display: flex;
  align-items: center;
}
.mission__customers-reviews .swiper-slide .mission__customers-author img {
  width: 43px;
  height: 43px;
}
.mission__customers-reviews .swiper-slide .mission__customers-author span {
  margin-left: 25px;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: 1.5em;
  color: #54595f;
}
.mission__customers-reviews .swiper-pagination-bullet {
  height: 3px !important;
  width: 3px !important;
}
.mission__customers-reviews .swiper-pagination-bullet-active {
  background: #3F01D1;
}

/* Questions */
.question {
  background: url("../img/questions.jpg") no-repeat center top/cover;
}
.question__body {
  padding: 150px 0;
  background: rgba(0, 0, 0, 0.3);
}
.question__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.question__inner h3 {
  max-width: 420px;
  color: #FFF;
  font-size: 31px;
  font-weight: 700;
  line-height: 1.3em;
  margin-left: 70px;
  margin-right: 50px;
  transition: 0.8s;
  opacity: 0;
  transform: translate(-100%, 0);
}
.question__inner h3.active {
  opacity: 1;
  transform: translate(0, 0);
}
.question__inner a {
  margin-right: 180px;
}

/* Delivery */
.delivery {
  overflow: hidden;
  margin-top: 70px;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
}
.delivery .title__title h4 {
  transition: 0.8s;
  opacity: 0;
}
.delivery .title__title h4.active {
  opacity: 1;
}
.delivery__image {
  max-height: 750px;
  flex: 0 1 30%;
}
.delivery__content {
  flex: 0 1 70%;
}
.delivery__content-title {
  max-width: 800px;
  margin-left: 85px;
  margin-top: 60px;
  margin-right: 30px;
}
.delivery__content-title .title h3 {
  font-size: 23px;
  margin-top: 25px;
}
.delivery__content-info {
  margin-top: 50px;
  display: flex;
  align-items: center;
}
.delivery__content-map {
  margin-right: 30px;
  max-width: 580px;
}
.delivery__content-map img {
  max-width: 100%;
}
.delivery__features {
  width: 100%;
  margin-right: 70px;
}
.delivery__feature {
  border-bottom: 1px solid #000;
}
.delivery__feature-wrap {
  display: flex;
  align-items: flex-start;
  padding: 25px 0;
  transition: 0.8s;
  opacity: 0;
  transform: translate(-100%, 0);
}
.delivery__feature-wrap.active {
  opacity: 1;
  transform: translate(0, 0);
}
.delivery__feature:last-child {
  border-bottom: 0;
}
.delivery__feature svg {
  flex: 0 0 50px;
  width: 50px;
  height: 50px;
  margin-right: 18px;
  transition: 0.2s;
}
.delivery__feature svg:hover {
  fill: #FEEA00;
}
.delivery__feature-body h4 {
  color: #3F01D1;
  font-weight: 700;
  font-size: 18px;
}
.delivery__feature-body p {
  max-width: 200px;
  margin-top: 20px;
  line-height: 28px;
}

/* Process */
.process {
  overflow: hidden;
  padding: 90px 0 150px;
}
.process .title__title h4 {
  transition: 0.8s;
  opacity: 0;
  transform: translate(-100%, 0);
}
.process .title__title h4.active {
  opacity: 1;
  transform: translate(0, 0);
}
.process__carts {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  margin-right: -60px;
}
.process__cart {
  display: flex;
  flex-direction: column;
  flex: 0 1 25%;
}
.process__cart-wrap {
  padding: 50px 25px;
  height: 100%;
  transition: 0.2s;
  border: 1px solid #DEDEDE;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-right: 60px;
  margin-top: 30px;
}
.process__cart-wrap h4 {
  margin-top: 25px;
  font-size: 18px;
  color: #3F01D1;
  font-weight: 700;
}
.process__cart-wrap p {
  line-height: 24px;
  font-size: 13px;
  margin-top: 25px;
}
.process__cart-wrap:hover {
  border-color: transparent;
}
.process__cart-icon {
  display: flex;
  transition: 0.4s;
}
.process__cart-icon img {
  width: 50px;
  height: 50px;
  flex: 0 0 50px;
}
.process__cart-icon:hover {
  transform: translate(0, -7px);
}
.process__cart-number {
  position: absolute;
  top: 68px;
  right: 30px;
  border: 1px solid #383838;
  padding: 10px;
  border-radius: 50%;
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.process__cart-number::after {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: 13px;
  width: 173px;
  height: 7px;
  background: url("../img/line.png") no-repeat center center/contain;
}
.process__cart:last-child .process__cart-number::after {
  display: none;
}

/* Interested */
.interested {
  background: url("../img/interested.jpeg") no-repeat center center/cover;
  color: #fff;
  text-align: center;
}
.interested__body {
  padding: 290px 0;
  background: rgba(0, 0, 0, 0.3);
}
.interested__subtitle {
  font-size: 18px;
}
.interested__title {
  font-size: 30px;
  font-weight: 700;
  margin-top: 40px;
  transition: 0.8s;
  opacity: 0;
}
.interested__title.active {
  opacity: 1;
}
.interested__btn {
  margin-top: 40px;
}

/* News */
.news {
  padding: 90px 0 120px;
}
.news__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.news__title .title__title h4 {
  font-size: 23px;
  color: #000;
  transition: 0.8s;
  opacity: 0;
  transform: translate(-100%, 0);
}
.news__title .title__title h4.active {
  opacity: 1;
  transform: translate(0, 0);
}
.news__title-btn {
  margin-right: 30px;
}
.news__carts {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-right: -15px;
}
.news__cart {
  display: flex;
  flex-direction: column;
  flex: 0 1 33.333%;
}
.news__cart-wrap {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  margin-top: 30px;
  margin-right: 15px;
  height: 100%;
}
.news__cart-image {
  display: block;
  padding-bottom: 70%;
}
.news__cart-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}
.news__cart-text {
  line-height: 21px;
  margin-top: 25px;
  margin-bottom: 35px;
  font-size: 14px;
  color: #7A7A7A;
  flex: 1 1 auto;
}
.news__cart-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 30px 30px 30px;
}

/* International */
.international {
  padding: 60px 0 10px;
  background: #f2f2f2;
}
.international__head {
  color: #3F01D1;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}
.international__content {
  color: #000;
  font-size: 14px;
  margin-top: 55px;
  overflow: hidden;
  height: 52px;
  transition: 0.3s;
}
.international__content-wrap p:last-child {
  margin-bottom: 0;
}
.international__content ul {
  padding-left: 30px;
  margin-bottom: 20px;
}
.international__content ul li {
  list-style: disc;
  line-height: 26px;
}
.international__title {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  color: #3a3a3a;
  font-size: 25px;
}
.international__text {
  margin-bottom: 22px;
  line-height: 26px;
}
.international__btn {
  margin-top: 30px;
  display: none;
}
.international__btn.active {
  display: inline-flex;
}
.international__btns {
  display: flex;
  justify-content: center;
}

/* Media */
@media (max-width: 1350px) {
  /* Mission */
  .mission__description {
    flex-basis: 70%;
  }

  .mission__schedule {
    flex-basis: 30%;
  }
}
@media (max-width: 1199px) {
  /* Interested */
  .interested__body {
    padding: 200px 0;
  }

  /* News */
  .news__cart-image {
    padding-bottom: 40%;
  }

  /* Process */
  .process__cart {
    flex-basis: 50%;
  }
  .process__cart:nth-child(2n) .process__cart-number::after {
    display: none;
  }

  /* Mission */
  .mission__body {
    flex-direction: column;
  }

  .mission__description {
    padding-right: 0;
    margin-top: 0;
    flex-basis: 100%;
  }

  .mission__schedule {
    margin-top: 40px;
  }

  .mission__schedule table {
    width: 100%;
    margin-top: 30px;
  }

  .mission__customers-statistics {
    padding-left: 0;
  }

  .mission__customers-reviews {
    padding: 0 0 0 70px;
  }

  /* Services */
  .services__cart h3 {
    font-size: 20px;
  }
}
@media (max-width: 1100px) {
  /* Delivery */
  .delivery {
    flex-direction: column;
  }
  .delivery__image {
    min-height: 80vh;
  }
  .delivery__content {
    padding: 40px 30px;
  }
  .delivery__content-title {
    margin: 0;
  }
  .delivery__content-info {
    margin-top: 20px;
    flex-direction: column;
  }
  .delivery__content-map {
    margin-right: 0;
  }
  .delivery__features {
    margin-right: 0;
    margin-top: 20px;
  }
  .delivery__feature-body p {
    max-width: 100%;
  }

  /* Process */
  .process {
    padding: 60px 0;
  }

  /* News */
  .news {
    padding: 60px 0 70px;
  }

  .news__cart-content {
    padding: 25px;
  }

  .news__cart-text {
    margin-top: 18px;
    margin-bottom: 25px;
  }

  .news__title .title__title h4 {
    font-size: 16px;
    top: 30px;
  }

  .news__cart-title {
    font-size: 17px;
    line-height: 23px;
  }
}
@media (max-width: 991px) {
  /* Question */
  .question__inner {
    flex-direction: column;
    text-align: center;
  }
  .question__inner h3 {
    margin: 0 0 20px 0;
  }
  .question__inner a {
    margin: 0;
  }

  /* Mission */
  .mission__description-left h2 {
    margin-bottom: 25px;
    font-size: 60px;
  }

  /* Header */
  .header__cart {
    height: 170px;
    max-height: 170px;
  }

  .header__cart-front h3 {
    font-size: 15px;
    margin-top: 10px;
  }

  .header__cart-back {
    padding: 15px;
  }
  .header__cart-back a {
    font-size: 15px;
  }
  .header__cart-back ul li {
    font-size: 10px;
  }

  .header__cart-back ul li {
    margin-bottom: 4px;
  }
}
@media (max-width: 900px) {
  /* Features */
  .features__cart-wrap h2 {
    font-size: 35px;
  }
  .features__cart-wrap p {
    font-size: 14px;
  }

  /* Interested */
  .interested__body {
    padding: 130px 0;
  }

  .interested__btn {
    margin-top: 25px;
  }

  .interested__title {
    margin-top: 20px;
  }

  /* News */
  .news__cart {
    flex-basis: 50%;
  }
  .news__cart-image {
    padding-bottom: 30%;
  }

  /* Header */
  .header__title {
    font-size: 40px;
    line-height: 44px;
  }

  .header__offer-body {
    margin-top: 80px;
  }

  /* Services */
  .services__title .title h3 {
    max-width: 350px;
  }

  .services__cart-wrap {
    height: 420px;
  }

  .services__cart-inner {
    padding: 16px;
  }

  .services__cart-back {
    padding: 16px;
  }

  /* Mission */
  .mission__description-left {
    align-items: flex-start;
  }

  /* Btn */
  .btn_custom {
    padding: 7px 18px;
    font-size: 13px;
  }
  .btn_grey {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  /* Features */
  .features__cart {
    flex-basis: 50%;
  }

  /* Question */
  .question__body {
    padding: 100px 0;
  }

  /* Process */
  .process {
    padding: 30px 0;
  }

  .process__carts {
    margin-top: 15px;
  }

  /* Delivery */
  .delivery__content {
    padding: 30px;
  }

  .delivery__feature-wrap {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .delivery__feature-wrap svg {
    margin-right: 0;
  }
  .delivery__feature-wrap p {
    margin-top: 15px;
  }

  .delivery__feature-body {
    margin-top: 15px;
  }

  /* Misson */
  .mission {
    padding: 40px 0;
  }

  .mission__description {
    flex-direction: column;
  }
  .mission__description-left {
    margin-right: 0;
  }

  .mission__description-left {
    align-items: center;
  }
  .mission__description-left h2 {
    text-align: center;
    white-space: normal;
  }

  .mission__description-right {
    padding-top: 30px;
  }
  .mission__description-right p {
    margin-top: 25px;
  }
  .mission__description-right h3 {
    text-align: center;
  }

  .mission__schedule {
    margin-top: 50px;
  }
  .mission__schedule h3 {
    text-align: center;
  }

  .mission__customers {
    flex-direction: column;
  }
  .mission__customers-statistics {
    flex-basis: 100%;
  }
  .mission__customers-reviews {
    flex-basis: 100%;
    width: 100%;
    padding: 0;
    margin-top: 20px;
  }

  /* Services */
  .services__cart {
    flex-basis: 100%;
  }

  .services {
    padding: 50px 0;
  }

  .services__btn {
    margin-top: 40px;
  }

  .services__carts {
    margin-top: 20px;
  }

  .services__title {
    flex-direction: column;
    align-items: flex-start;
  }
  .services__title-btns {
    margin-top: 30px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  .services__title-btns .btn {
    margin-bottom: 40px;
  }

  /* Header */
  .header__carts-body {
    flex-direction: column;
    align-items: center;
    margin: 0 -30px;
  }

  .header__body {
    min-height: 90vh;
  }

  .header__cart {
    flex-basis: 100%;
    width: 100%;
  }

  /* News */
  .news__cart {
    flex-basis: 100%;
  }
}
@media (max-width: 575px) {
  /* Question */
  .question__inner h3 {
    font-size: 25px;
  }

  /* Interested */
  .interested__subtitle {
    font-size: 16px;
  }

  .interested__title {
    font-size: 23px;
  }

  /* News */
  .news__cart-image {
    padding-bottom: 50%;
  }

  .news__title {
    flex-direction: column;
    align-items: flex-start;
  }
  .news__title-btn {
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
  }

  .news__carts {
    margin-top: 0;
  }

  /* International */
  .international {
    padding-top: 40px;
  }

  .international__content {
    margin-top: 30px;
  }

  /* Process */
  .process__cart {
    flex-basis: 100%;
  }
  .process__cart-number::after {
    display: none;
  }

  /* Process */
  .process__cart-wrap {
    padding: 30px 20px;
  }
  .process__cart-wrap p {
    margin-top: 18px;
  }

  /* Delivery */
  .delivery__content-title .title h3 {
    font-size: 18px;
  }

  /* Mission */
  .mission__description-left h2 {
    font-size: 45px;
  }

  /* Header */
  .header__title {
    font-size: 24px;
    line-height: 28px;
  }

  .header__offer-body {
    margin-top: 50px;
  }

  /* Services */
  .services__cart h3 {
    font-size: 20px;
  }
}
@media (max-width: 400px) {
  /* News */
  .news__cart-image {
    padding-bottom: 60%;
  }

  /* Header */
  .header__title {
    margin-right: -20px;
    margin-left: -20px;
    font-size: 19px;
    line-height: 22px;
  }
}

/*# sourceMappingURL=home.css.map */
