@keyframes activateVariant {
  0% {
    left: -50%;
  }
  50% {
    left: 50%;
  }
  60% {
    left: 60%;
  }
  80% {
    left: 40%;
  }
  100% {
    left: 50%;
  }
}
@keyframes unActivateVariant {
  0% {
    left: 50%;
  }
  50% {
    left: 30%;
  }
  100% {
    left: 150%;
  }
}
/* About Page */
.about-page {
  background-image: url("../img/services.jpg");
}

/* About */
.about {
  padding: 70px 0;
}
.about__body {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.about__image {
  flex: 0 1 50%;
  padding-right: 70px;
}
.about__image-image {
  min-height: 69vh;
}
.about__image img {
  max-width: 100%;
}
.about__content {
  padding-left: 70px;
  flex: 0 1 50%;
}
.about__content-title {
  color: #3F01D1;
  font-size: 64px;
  font-weight: 900;
  letter-spacing: -5px;
}
.about__content-text {
  margin-top: 40px;
  color: #000;
  line-height: 1.8;
}
.about__features {
  margin-top: 40px;
}
.about__feature {
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
}
.about__feature:last-child {
  margin-bottom: 0;
}
.about__feature-icon {
  width: 88px;
  height: 88px;
  flex: 0 0 88px;
  padding: 10px;
  border-radius: 5px;
  background: #3F01D1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}
.about__feature-icon i {
  font-size: 56px;
  color: #fff;
  display: flex;
}
.about__feature-icon:hover {
  transform: scale(0.95);
  background: transparent;
}
.about__feature-icon:hover i {
  color: #3F01D1;
}
.about__feature-content {
  margin-left: 100px;
}
.about__feature-title {
  max-width: 300px;
  font-size: 18px;
  font-weight: 700;
  color: #54595f;
}
.about__feature-title span {
  font-size: 43px;
}
.about__feature-text {
  color: #7a7a7a;
  line-height: 1.8;
}

/* Services */
.services {
  overflow: hidden;
  padding: 10px 0 70px;
  background: #f7f7fb;
}
.services__container {
  max-width: 1140px;
}
.services__carts {
  margin-right: -60px;
  display: flex;
  flex-wrap: wrap;
}
.services__cart {
  position: relative;
  z-index: 1;
  flex: 0 1 33.333%;
  color: #fff;
  perspective: 1000px;
}
.services__cart:nth-child(6) .services__cart-back ul li {
  line-height: 1.5;
  font-weight: 700;
}
.services__cart-wrap {
  position: relative;
  margin-top: 60px;
  margin-right: 60px;
  height: 440px;
  perspective: 1000px;
}
.services__cart-front {
  transform-style: preserve-3d;
  background-position: center right;
  transition: 0.5s;
  height: 100%;
  position: relative;
  backface-visibility: hidden;
}
.services__cart-front::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.services__cart-inner {
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
  z-index: 2;
  padding: 40px 50px 40px 40px;
}
.services__cart-back {
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 2;
  padding: 40px 50px 40px 40px;
  background: #2c2c2c;
  transition: 0.5s;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
.services__cart-back p {
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 1.7em;
}
.services__cart-back ul {
  margin-top: 15px;
  margin-bottom: 20px;
  padding-left: 15px;
}
.services__cart-back ul li {
  line-height: 1.8;
  list-style: disc;
}
.services__cart i {
  font-size: 53px;
  color: #fff;
}
.services__cart h3 {
  margin-top: auto;
  font-size: 25px;
  text-transform: uppercase;
}
.services__cart:hover .services__cart-front, .services__cart.active .services__cart-front {
  transform: rotateY(180deg);
}
.services__cart:hover .services__cart-front .services__cart-inner, .services__cart.active .services__cart-front .services__cart-inner {
  transform: translateZ(125px);
}
.services__cart:hover .services__cart-back, .services__cart.active .services__cart-back {
  transform: rotateY(360deg);
}
.services__cart:hover .services__cart-back .services__cart-inner, .services__cart.active .services__cart-back .services__cart-inner {
  transform: translateZ(125px);
}

/* Interested */
.interested {
  background-image: url("../img/interested_2.jpg");
}
.interested__body {
  padding: 160px 0;
}

/* Media */
@media (max-width: 1199px) {
  /* Services */
  .services__carts {
    margin-right: -15px;
  }

  .services__cart-wrap {
    margin-right: 15px;
  }
}
@media (max-width: 1100px) {
  /* About */
  .about__image {
    margin-left: -60px;
    padding-right: 30px;
  }
  .about__content {
    padding-left: 30px;
  }

  /* Services */
  .services__cart h3 {
    font-size: 20px;
  }

  .services__cart-back {
    padding: 20px;
  }

  .services__cart-inner {
    padding: 20px;
  }
}
@media (max-width: 991px) {
  /* About */
  .about__feature-content {
    margin-left: 50px;
  }

  .about__feature-title {
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  /* About */
  .about {
    padding: 40px 0 80px;
  }

  .about__body {
    flex-direction: column;
  }

  .about__content-title {
    font-size: 60px;
  }

  .about__image {
    width: 100%;
    margin-left: 0;
    padding-right: 0;
  }

  .about__content {
    margin-top: 20px;
    padding-left: 0;
  }

  .about__feature {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
  }
  .about__feature-content {
    margin-top: 30px;
    margin-left: 0;
  }
  .about__feature-icon {
    width: 68px;
    height: 68px;
    flex-basis: 68px;
  }
  .about__feature-icon svg {
    width: 30px;
    height: 30px;
    flex-basis: 30px;
  }

  /* Services */
  .services__cart {
    flex-basis: 100%;
  }
}
@media (max-width: 575px) {
  /* About */
  .about__image-image {
    margin: 0 -30px;
  }
}

/*# sourceMappingURL=services.css.map */
