/* Header */

.header {
	overflow: hidden;
	position: relative;
	&__image {
		background-repeat: no-repeat;
		background-position: center top;
		background-size: cover;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		transition: 5s;
		animation: headerResize 5s linear infinite, changeHeaderSlide 5s linear infinite;
	}
	&__images {
		display: none;
	}
	&__body {
		position: relative;
		z-index: 2;
		display: flex;
		flex-direction: column;
		min-height: 106vh;
		background: rgba(0, 0, 0, 0.3);
	}
	&__offer {
		margin-top: auto;
		margin-bottom: auto;
		text-align: center;
		&-body {
			margin: 170px 0 50px;
		}
	}
	&__title {
		font-weight: 700;
		font-size: 57px;
		color: #fff;
		line-height: 60px;
		margin-bottom: 40px;
		&-titles {
			display: none;
		}
		&-variant {
			overflow: hidden;
			transition: .3s;
			display: inline-block;
			border-right: 2px solid #000;
			span {
				color: $purple;
				text-decoration: underline;
			}
		}
	}
	&__carts-body {
		color: #fff;
		display: flex;
		flex-wrap: wrap;
	}
	&__cart {
		cursor: pointer;
		flex: 0 1 33.333%;
		overflow: hidden;
		height: 280px;
		max-height: 280px;
		&-front {
			text-align: center;
			padding: 45px;
			transition: .5s;
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			img {
				width: 50px;
				height: 50px;
			}
			h3 {
				margin-top: 30px;
				font-size: 21px;
				font-weight: 700;
			}
		}
		&-back {
			overflow: auto;
			background: $purple;
			padding: 20px 50px;
			transition: .5s;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			font-weight: 700;
			a {
				margin-bottom: 20px;
				color: #fff;
				font-size: 21px;
				text-decoration: underline;
			}
			ul {
				padding-left: 10px;
				li {
					list-style: disc;
					font-size: 14px;
					margin-bottom: 8px;
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
		&:hover, &.active {
			& .header__cart-front {
				transform: translate(0, -100%);
			}
			& .header__cart-back {
				transform: translate(0, -100%);
			}
		}
	}
}

@keyframes variantResize {
	0% {
		width: 0;
		padding-right: 0;
	}

	50% {
		width: 100%;
		padding-right: 9px;
	}

	100% {
		width: 0;
		padding-right: 0;
	}
}

@keyframes headerResize {
	0% {
		transform: scale(1);
	}

	90% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes changeHeaderSlide {
	0% {
		opacity: .7;
	}

	20% {
		opacity: 1;
	}

	70% {
		opacity: 1;
	}

	100% {
		opacity: .7;
	}
}

/* Services */

.services {
	overflow: hidden;
	padding-top: 65px;
	padding-bottom: 70px;
	&__title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		.title {
			margin-right: 30px;
		}
		.title__title {
			h4 {
				transform: translate(-100%, 0);
				opacity: 0;
				transition: .8s;
				&.active {
					transform: translate(0, 0);
					opacity: 1;
				}
			}
		}
		&-btns {
			display: flex;
			flex-direction: column;
			align-items: center;
			.btn {
				margin-bottom: 25px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
	&__carts {
		margin-right: -30px;
		display: flex;
		flex-wrap: wrap;
		margin-top: 120px;
	}
	&__cart {
		position: relative;
		z-index: 1;
		flex: 0 1 33.333%;
		color: #fff;
		&-wrap {
			margin-top: 30px;
			margin-right: 30px;
			overflow: hidden;
			height: 440px;
		}
		&-front {
			transition: .5s;
			height: 100%;
			position: relative;
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				width: 100%;
				height: 100%;
				background: rgba(0, 0, 0, .3);
			}
		}
		&-inner {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 100%;
			position: relative;
			z-index: 2;
			padding: 40px 50px 40px 40px;
		}
		&-back {
			overflow: auto;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			height: 100%;
			position: relative;
			z-index: 2;
			padding: 40px 50px 40px 40px;
			background: #2c2c2c;
			transition: .5s;
			p {
				font-size: 14px;
				margin-top: 15px;
				margin-bottom: 25px;
				font-size: 14px;
				line-height: 1.7em;
			}
		}
		&-icon {
			width: 50px;
			height: 50px;
		}
		h3 {
			margin-top: auto;
			font-size: 28px;
			text-transform: uppercase;
		}
		&:hover &-back, &.active &-back {
			transform: translate(0, -100%);
		}
	}
	&__btn {
		display: flex;
		justify-content: center;
		margin-top: 70px;
	}
}

/* Features */

.features {
	padding: 0 0 40px;
	background: #E7E7E7;
	overflow: hidden;
	&__carts {
		display: flex;
		flex-wrap: wrap;
		margin-right: -30px;
	}
	&__cart {
		flex: 0 1 25%;
		&-wrap {
			text-align: center;
			margin-right: 30px;
			margin-top: 30px;
			color: $purple;
			h2 {
				font-weight: 700;
				font-size: 60px;
			}
			p {
				font-weight: 700;
			}
		}
	}
}

/* Mission */

.mission {
	padding: 100px 0 140px;
	overflow: hidden;
	&__body {
		display: flex;
		flex-wrap: wrap;
	}
	&__description {
		margin-top: -60px;
		padding-right: 60px;
		display: flex;
		align-items: center;
		flex: 0 1 77%;
		&-left {
			margin-right: 35px;
			display: flex;
			flex-direction: column;
			align-items: center;
			h2 {
				margin-bottom: 35px;
				white-space: nowrap;
				color: #C6C6C6BF;
				font-size: 71px;
				font-weight: 700;
				letter-spacing: -5px;
			}
			img {
				max-width: 100%;
				max-height: 450px;
			}
		}
		&-right {
			padding-top: 60px;
			h3 {
				color: $purple;
				font-size: 21px;
				font-weight: 700;
			}
			p {
				color: #54595F;
				line-height: 28px;
				margin-top: 35px;
				&:last-child {
					margin-top: 30px;
				}
			}
		}
	}
	&__schedule {
		flex: 0 1 23%;
		h3 {
			color: $purple;
			font-size: 21px;
			font-weight: 700;
		}
		table {
			margin-top: 40px;
			border-collapse: collapse;
			tr {
				td {
					white-space: nowrap;
					color: #54595f;
					border-bottom: 1px solid #54595f;
					padding: 40px 0 16px;
					&:first-child {
						font-size: 14px;
						padding-right: 40px;
					}
					&:last-child {
						text-align: right; 
						color: $purple;
						font-weight: 700;
						padding-right: 10px;
					}
				}
				&:first-child td {
					padding-top: 0;
				}
			}
		}
	}
	&__customers {
		width: 100%;
		margin-top: 40px;
		flex: 0 1 100%;
		display: flex;
		flex-wrap: wrap;
		&-statistics {
			width: 35%;
			flex: 0 1 35%;
			width: 100%;
			padding-left: 50px;
		}
		&-statistic {
			margin-bottom: 50px;
			background: #eee;
			width: 100%;
			font-size: 14px;
			color: #fff;
			span:first-child {
				margin-right: 30px;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
		&-linewrap {
			overflow: hidden;
			width: 0;
			transition: .8s;
			&.active {
				width: 100%;
			}
		}
		&-line {
			white-space: nowrap;
			display: flex;
			justify-content: space-between;
			padding: 7px 15px;
			background: $purple;
			span:first-child {
				margin-right: 20px;
			}
		}
		&-reviews {
			width: 65%;
			flex: 0 1 65%;
			padding: 0 90px;
			.swiper {
				padding: 40px 0;
				height: 100%;
			}
			.swiper-slide {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				p {
					text-align: center;
					color: #7a7a7a;
					line-height: 1.4em;
				}
				.mission__customers-author {
					margin-top: 25px;
					display: flex;
					align-items: center;
					img {
						width: 43px;
						height: 43px;
					}
					span {
						margin-left: 25px;
						font-size: 16px;
						font-weight: 700;
						font-style: normal;
						line-height: 1.5em;
						color: #54595f;
					}
				}
			}
			.swiper-pagination-bullet {
				height: 3px !important;
				width: 3px !important;
				&-active {
					background: $purple;
				}
			}
		}
	}
}

/* Questions */

.question {
	background: url('../img/questions.jpg') no-repeat center top /cover;
	&__body {
		padding: 150px 0;
		background: rgba(0, 0, 0, 0.3);
	}
	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		h3 {
			max-width: 420px;
			color: #FFF;
			font-size: 31px;
			font-weight: 700;
			line-height: 1.3em;
			margin-left: 70px;
			margin-right: 50px;
			transition: .8s;
			opacity: 0;
			transform: translate(-100%, 0);
			&.active {
				opacity: 1;
				transform: translate(0, 0);
			}
		}
		a {
			margin-right: 180px;
		}
	}
}

/* Delivery */

.delivery {
	overflow: hidden;
	margin-top: 70px;
	background: #fff;
	display: flex;
	flex-wrap: wrap;
	.title__title {
		h4 {
			transition: .8s;
			opacity: 0;
			&.active {
				opacity: 1;
			}
		}
	}
	&__image {
		max-height: 750px;
		flex: 0 1 30%;
	}
	&__content {
		flex: 0 1 70%;
		&-title {
			max-width: 800px;
			margin-left: 85px;
			margin-top: 60px;
			margin-right: 30px;
			.title h3 {
				font-size: 23px;
				margin-top: 25px;
			}
		}
		&-info {
			margin-top: 50px;
			display: flex;
			align-items: center;
		}
		&-map {
			margin-right: 30px;
			max-width: 580px;
			img {
				max-width: 100%;
			}
		}
	}
	&__features {
		width: 100%;
		margin-right: 70px;
	}
	&__feature {
		border-bottom: 1px solid #000;
		&-wrap {
			display: flex;
			align-items: flex-start;
			padding: 25px 0;
			transition: .8s;
			opacity: 0;
			transform: translate(-100%, 0);
			&.active {
				opacity: 1;
				transform: translate(0, 0);
			}
		}
		&:last-child {
			border-bottom: 0;
		}
		svg {
			flex: 0 0 50px;
			width: 50px;
			height: 50px;
			margin-right: 18px;
			transition: .2s;
			&:hover {
				fill: $yellow;
			}
		}
		&-body {
			h4 {
				color: $purple;
				font-weight: 700;
				font-size: 18px;
			}
			p {
				max-width: 200px;
				margin-top: 20px;
				line-height: 28px;
			}
		}
	}
}

/* Process */

.process {
	overflow: hidden;
	padding: 90px 0 150px;
	.title__title {
		h4 {
			transition: .8s;
			opacity: 0;
			transform: translate(-100%, 0);
			&.active {
				opacity: 1;
				transform: translate(0, 0);
			}
		}
	}
	&__carts {
		margin-top: 50px;
		display: flex;
		flex-wrap: wrap;
		margin-right: -60px;
	}
	&__cart {
		display: flex;
		flex-direction: column;
		flex: 0 1 25%;
		&-wrap {
			padding: 50px 25px;
			height: 100%;
			transition: .2s;
			border: 1px solid #DEDEDE;
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			margin-right: 60px;
			margin-top: 30px;
			h4 {
				margin-top: 25px;
				font-size: 18px;
				color: $purple;
				font-weight: 700;
			}
			p {
				line-height: 24px;
				font-size: 13px;
				margin-top: 25px;
			}
			&:hover {
				border-color: transparent;
			}
		}
		&-icon {
			display: flex;
			transition: .4s;
			img {
				width: 50px;
				height: 50px;
				flex: 0 0 50px;
			}
			&:hover {
				transform: translate(0, -7px);
			}
		}
		&-number {
			position: absolute;
			top: 68px;
			right: 30px;
			border: 1px solid #383838;
			padding: 10px;
			border-radius: 50%;
			height: 48px;
			width: 48px;
			display: flex;
			align-items: center;
			justify-content: center;
			&::after {
				content: '';
				display: block;
				position: absolute;
				top: 5px;
				left: 13px;
				width: 173px;
				height: 7px;
				background: url('../img/line.png') no-repeat center center /contain;
			}
		}
		&:last-child {
			.process__cart-number {
				&::after {
					display: none;
				}
			}
		}
	}
}

/* Interested */

.interested {
	background: url('../img/interested.jpeg') no-repeat center center /cover;
	color: #fff;
	text-align: center;
	&__body {
		padding: 290px 0;
		background: rgba(0, 0, 0, 0.3);
	}
	&__subtitle {
		font-size: 18px;
	}
	&__title {
		font-size: 30px;
		font-weight: 700;
		margin-top: 40px;
		transition: .8s;
		opacity: 0;
		&.active {
			opacity: 1;
		}
	}
	&__btn {
		margin-top: 40px;
	}
}

/* News */

.news {
	padding: 90px 0 120px;
	&__title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		.title__title {
			h4 {
				font-size: 23px;
				color: #000;
				transition: .8s;
				opacity: 0;
				transform: translate(-100%, 0);
				&.active {
					opacity: 1;
					transform: translate(0, 0);
				}
			}
		}
		&-btn {
			margin-right: 30px;
		}
	}
	&__carts {
		display: flex;
		flex-wrap: wrap;
		margin-top: 10px;
		margin-right: -15px;
	}
	&__cart {
		display: flex;
		flex-direction: column;
		flex: 0 1 33.333%;
		&-wrap {
			box-shadow: 0 0 10px 0 rgba(0, 0, 0, .15);
			margin-top: 30px;
			margin-right: 15px;
			height: 100%;
		}
		&-image {
			display: block;
			padding-bottom: 70%;
		}
		&-title {
			font-size: 20px;
			font-weight: 700;
			line-height: 28px;
		}
		&-text {
			line-height: 21px;
			margin-top: 25px;
			margin-bottom: 35px;
			font-size: 14px;
			color: #7A7A7A;
			flex: 1 1 auto;
		}
		&-content {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			padding: 40px 30px 30px 30px;
		}
	}
}

/* International */

.international {
	padding: 60px 0 10px;
	background: #f2f2f2;
	&__head {
		color: $purple;
		font-size: 25px;
		font-weight: 700;
		text-align: center;
	}
	&__content {
		color: #000;
		font-size: 14px;
		margin-top: 55px;
		overflow: hidden;
		height: 52px;
		transition: .3s;
		&-wrap {
			p {
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		ul {
			padding-left: 30px;
			margin-bottom: 20px;
			li {
				list-style: disc;
				line-height: 26px;
			}
		}
	}
	&__title {
		margin-top: 10px;
		margin-bottom: 20px;
		text-align: center;
		color: #3a3a3a;
		font-size: 25px;
	}
	&__text {
		margin-bottom: 22px;
		line-height: 26px;
	}
	&__btn {
		margin-top: 30px;
		display: none;
		&.active {
			display: inline-flex;
		}
	}
	&__btns {
		display: flex;
		justify-content: center;
	}
}

/* Media */

@media (max-width: 1350px) {
	/* Mission */

	.mission__description {
		flex-basis: 70%;
	}

	.mission__schedule { 
		flex-basis: 30%;
	}
}

@media (max-width: 1199px) {
	/* Interested */

	.interested__body {
		padding: 200px 0;
	}

	/* News */

	.news__cart {
		flex-basis: 50%;
		&-image {
			padding-bottom: 40%;
		}
	}

	/* Process */

	.process__cart {
		flex-basis: 50%;
		&:nth-child(2n) {
			.process__cart-number::after {
				display: none;
			}
		}
	}

	/* Mission */

	.mission__body {
		flex-direction: column;
	}

	.mission__description {
		padding-right: 0;
		margin-top: 0;
		flex-basis: 100%;
	}

	.mission__schedule {
		margin-top: 40px;
	}

	.mission__schedule table {
		width: 100%;
		margin-top: 30px;
	}

	.mission__customers-statistics {
		padding-left: 0;
	}

	.mission__customers-reviews {
		padding: 0 0 0 70px;
	}

	/* Services */

	.services__cart {
		flex-basis: 50%;
	}
}

@media (max-width: 1100px) {
	/* Delivery */

	.delivery {
		flex-direction: column;
		&__image {
			min-height: 80vh;
		}
		&__content {
			padding: 40px 30px;
			&-title {
				margin: 0;
			}
			&-info {
				margin-top: 20px;
				flex-direction: column;
			}
			&-map {
				margin-right: 0;
			}
		}
		&__features {
			margin-right: 0;
			margin-top: 20px;
		}
		&__feature-body p {
			max-width: 100%;
		}
	}

	/* Process */

	.process {
		padding: 60px 0;
	}

	/* Burger */

	.burger__menu {
		width: 70%;
	}
}

@media (max-width: 1100px) {
	/* Title */

	.title {
		&__title {
			height: 60px;
			span {
				line-height: 60px;
				font-size: 80px;
			}
			h4 {
				font-size: 16px;
				top: 30px;
			}
		}
	}
}

@media (max-width: 991px) {
	/* Question */

	.question__inner {
		flex-direction: column;
		text-align: center;
		h3 {
			margin: 0 0 20px 0;
		}
		a {
			margin: 0;
		}
	}

	/* Mission */

	.mission__description-left h2 {
		margin-bottom: 25px;
		font-size: 60px;
	}

	/* Header */

	.header__carts {
		&-body {
			flex-direction: column;
			align-items: center;
			margin: 0 -30px;
		}
	}

	.header__cart-front h3 {
		font-size: 17px;
		margin-top: 20px;
	}

	.header__cart {
		flex-basis: 100%;
		width: 100%;
		height: 220px;
		max-height: 220px;
	}

	.header__cart-back {
		padding: 20px;
		a {
			font-size: 17px;
		}
		ul li {
			font-size: 12px;
		}
	}
}

@media (max-width: 900px) {
	/* Features */

	.features__cart {
		flex-basis: 50%;
		&-wrap h2 {
			font-size: 50px;
		}
	}

	/* Interested */

	.interested__body {
		padding: 130px 0;
	}

	.interested__btn {
		margin-top: 25px;
	}
	
	.interested__title {
		margin-top: 20px;
	}

	/* News */

	.news__cart {
		flex-basis: 100%;
		&-image {
			padding-bottom: 30%;
		}
	}

	/* Mission */

	.mission__description {
		flex-direction: column;
		&-left {
			margin-right: 0;
		}
	}

	.mission__description-left h2 {
		text-align: center;
		white-space: normal;
	}

	.mission__description-right {
		padding-top: 30px;
		p {
			margin-top: 25px;
		}
		h3 {
			text-align: center;
		}
	}

	.mission__schedule {
		margin-top: 50px;
		h3 {
			text-align: center;
		}
	}

	.mission__customers {
		flex-direction: column;
		&-statistics {
			flex-basis: 100%;
		}
		&-reviews {
			flex-basis: 100%;
			width: 100%;
			padding: 0;
			margin-top: 20px;
		}
	}

	/* Header */

	.header__title {
		font-size: 40px;
		line-height: 44px;
	}

	.header__offer-body {
		margin-top: 80px;
	}

	/* Services */

	.services__cart {
		flex-basis: 100%;
	}

	.services__cart-wrap {
		height: 420px;
	}

	.services__cart-inner {
		padding: 25px;
	}

	.services__cart-back {
		padding: 25px;
	}

	.services__title {
		flex-direction: column;
		align-items: flex-start;
		&-btns {
			margin-top: 30px;
			align-items: flex-start;
		}
	}
}

@media (max-width: 767px) {
	/* Top Nav */

	.top-nav {
		display: none;
	}

	.top-nav__body {
		flex-direction: column;
		align-items: flex-start;
	}

	.top-nav__socials {
		margin-top: 18px;
	}

	/* Question */

	.question__body {
		padding: 100px 0;
	}

	/* News */

	.news {
		padding: 60px 0 70px;
	}

	.news__cart-content {
		padding: 25px;
	}

	.news__cart-text {
		margin-top: 18px;
		margin-bottom: 25px;
	}

	.news__title {
		.title__title {
			h4 {
				font-size: 16px;
				top: 30px;
			}
		}
	}

	.news__cart-title {
		font-size: 17px;
		line-height: 23px;
	}

	/* Process */

	.process {
		padding: 30px 0;
	}

	.process__carts {
		margin-top: 15px;
	}

	/* Delivery */

	.delivery__content {
		padding: 30px;
	}

	.delivery__feature-wrap {
		flex-direction: column;
		text-align: center;
		align-items: center;
		svg {
			margin-right: 0;
		}
		p {
			margin-top: 15px;
		}
	}

	.delivery__feature-body {
		margin-top: 15px;
	}

	/* Misson */

	.mission {
		padding: 40px 0;
	}

	/* Services */

	.services {
		padding: 50px 0;
	}

	.services__btn {
		margin-top: 40px;
	}

	.services__carts {
		margin-top: 20px;
	}
}

@media (max-width: 575px) {
	/* Nav */

	.nav__logo {
		margin-right: 30px;
	}

	.nav__search {
		margin-right: 20px;
	}

	/* Logo */

	.logo {
		img {
			max-width: 30px;
		}
		span {
			font-size: 18px;
			line-height: 18px;
			margin-left: 15px;
		}
	}

	/* Top Nav */

	.top-nav__info {
		flex-direction: column;
		align-items: flex-start;
		li {
			margin-right: 0;
			margin-bottom: 18px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	/* Features */

	.features__cart {
		flex-basis: 100%;
		&-wrap h2 {
			font-size: 40px;
		}
	}

	/* Question */

	.question__inner h3 {
		font-size: 25px;
	}

	/* Interested */
	
	.interested__subtitle {
		font-size: 16px;
	}
	
	.interested__title {
		font-size: 23px;
	}

	/* News */

	.news__cart {
		&-image {
			padding-bottom: 50%;
		}
	}

	.news__title {
		flex-direction: column;
		align-items: flex-start;
		&-btn {
			margin-right: 0;
			margin-top: 30px;
		}
	}

	/* International */

	.international {
		padding-top: 40px;
	}

	.international__content {
		margin-top: 30px;
	}

	/* Process */

	.process__cart {
		flex-basis: 100%;
		&-number::after {
			display: none;
		}
	}

	/* Process */

	.process__cart-wrap {
		padding: 30px 20px;
		p {
			margin-top: 18px;
		}
	}

	/* Delivery */

	.delivery__content-title .title h3 {
		font-size: 18px;
	}

	/* Mission */

	.mission__description-left h2 {
		font-size: 45px;
	}

	/* Header */

	.header__title {
		font-size: 24px;
		line-height: 28px;
	}

	.header__offer-body {
		margin-top: 50px;
	}

	/* Services */

	.services__cart h3 {
		font-size: 20px;
	}
}

@media (max-width: 400px) {
	/* News */

	.news__cart {
		&-image {
			padding-bottom: 60%;
		}
	}

	/* Header */
	
	.header__title {
		margin-right: -20px;
		margin-left: -20px;
		font-size: 19px;
		line-height: 22px;
	}
}